Options -MultiViews
RewriteEngine On
# RewriteBase /ecom/public/
ErrorDocument 404 "<h1>ERROR</h1>"
# RewriteRule ^ index.php [QSA,L]

RewriteRule ^view/([0-9]+)/$ /board/?id=$1
RewriteRule ^view/([0-9]+)$ /ecom/public/board/$1/ [R]